.homeConCont .body-6of10 h2{
    font-size:2.5em;
    font-weight: 100;
    margin: 1em;
}

.homeConCont .body-6of10 h3{
    font-size:1.4em;
    font-weight: 100;
    margin: 1em;
}

.homeConCont p{
    margin-left:2em;
    margin-right:2em;
}



.homeImgCont{
    max-height: 35em;
    top:3em;
}

.homeImg img{
    max-width:100%;
    height:auto;
}

.homeConCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color:lightgray;
}

.homeConCont .body-6of10{
    background-color: white;
    box-shadow: 0.1em 0.1em 0.05em lightgray;
    /*padding:1em;*/
    margin-left:0.5em;
    /*margin-top:0.5em;*/
    margin-right:0.5em;
}

.homeConCont img{
    max-width:100%;
    height:auto;
    margin:0;
    padding:0;
}



