.homeConCont .body-6of10 h1{
    font-size:2.9em;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 0em;
}
.homeConCont .body-6of10 h2{
    font-size:2.5em;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 1em;
}

.homeConCont .body-6of10 h3{
    font-size:1.4em;
    font-weight: 100;
    margin-top:1em;
    margin-bottom:1em;
}

.homeConCont p{
    margin-bottom: 1em;
}

.homeConCont a{
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 50%;
}



.homeImgCont{
    max-height: 35em;
    top:3em;
}

.homeImg img{
    max-width:100%;
    height:auto;
    z-index: 50;
}

.homeConCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color:lightgray;
}

.homeConCont .body-6of10{
    background-color: white;
    box-shadow: 0.1em 0.1em 0.05em lightgray;
    /*padding:1em;*/
    margin-left:0.5em;
    /*margin-top:0.5em;*/
    margin-right:0.5em;
}

.homeConCont img{
    max-width:100%;
    height:auto;
    margin:0;
    padding:0;
}

.homeRetailerLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 2em;
}

.rL-1of4{
    width:20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.rL-1of4 img{
    transition:all 0.2s ease-in-out;
}

.rL-1of4 img:hover{
    transform: scale(1.2);
}

.homeConCont label, .homeConCont input[type="text"], .homeConCont input[type="submit"], .homeConCont input[type="email"], .homeConCont textarea{
    display:block;
    margin-left: auto;
    margin-right:auto;
}


.homeConCont label{
    top:1rem;
}

.homeConCont textarea{
    padding-bottom: 5em;
}

.form_text, .form_comment{
    margin-bottom:1em;
}

.homeConCont form{
    margin: 1em;
    margin-top: 2em;
}


.cartContent {
    background-color: white;
    align-items: center;    
}

.cart-summary{
    padding-bottom:1.5em;
}


.cart-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:75%;
    flex-wrap: wrap;
}

.summary-cont{
    width:50%;
    flex: 1 1 auto;
    margin:0.1em;
    background-color: lightgray;
}

.summary-cont p, .summary-cont h2{
    margin:1em;
}

.cart-product{
    width:75%;
    margin-left: auto;
    margin-right:auto;
    margin-top:0.25em;
    background-color:#f8f8f8;
}

.cart-prod-style{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;
}

.cart-product.summary{
    background-color:gray;
    color:white;
}

.cart-product.summary .cart-prod-style .cart-product-name{
    border-bottom:white 1px solid;
}

.cart-product-name{
    flex-grow: 1;
}

.cart-product-name p{
    margin-left:1em;
    margin-bottom:0.2em;
    font-size: 1.3em;
    font-weight: 300;
}

.cart-delete-icon{
    position:relative;
    top:1em;
    left:90%;
}

.cart-delete-icon a{
    margin:0;
}

.cart-delete-icon img{
    width:10%;
    height:auto;
    margin:0;
}

.cart-product-image{
    flex-grow:2;
    margin-left:0.2em;
    margin-bottom:0.2em;
    max-width:15em;
    background-color: white;
}

.cart-product-image img{
    width:100%;
    height:auto;
}

.cart-product-name{
    flex-grow: 1;
    width:100%;
    border-bottom: gray 1px solid;
}

.cart-product-unit{
    text-align: left;
    flex:1 1 auto;
    align-items: stretch;
    justify-content: center;
    margin-left:0.2em;
    margin-bottom:0.2em;
}

.cart-product-unit p{
    margin-top: 0.1em;
    margin-left:0.1em;
    margin-right: 0;
}

.cart-product-price{
    flex:1 1 auto;
    align-items: stretch;
    justify-content: center;
    margin-left:0.2em;
    margin-right:0.2em;
    margin-bottom:0.2em;
}

.cart-product-price p{
    margin-top: 0.1em;
    margin-left:0.1em;
    margin-right: 0;
}
.cart-product-price a{
    margin-top: 0.1em;
    margin-left: 0.1em;
    text-align:right;
    text-decoration:none;
    color: gray;
}

