.homeImgCont{
    max-height: 35em;
    top:3em;
}

.homeImg img{
    max-width:100%;
    height:auto;
}

.homeConCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color:lightgray;
}

.homeConCont .body-6of10{
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0.1em 0.1em 0.05em lightgray;
    padding:1em;
    margin-bottom: 1em;;
    height:36rem;
    margin-left:0.5em;
    margin-top:0.5em;
}

