*, *:after, *:before{
    box-sizing: border-box;
}

[class^='nav-'] {
	float: left;
	text-align: center;
}

.content{
    flex-wrap: nowrap;
}

.nav-1of10{
    width:10%;
}

/*TEST PP BRANCH*/

.nav-hof10{
    width:5%;
}

.nav-6of10{
    width:60%;
}

.nav-1hof10{
    width:15%;
}

.body-1hof10{
    width:17.5%;
}

.body-hof10{
    width:2.5%;
}

.body-6of10{
    width:65%;
}

.cart, .hl-filter{
    width: 15%;
}


.cart .button-button{
    width:inherit;
    position: absolute;
}

.product-1of3{
    position: relative;
    margin-right:0.5em;
    margin: 0.15em;
    max-width: 32%;   
    margin-left:0.5%;
    margin-right:0.5%;
}

.homeConCont p, .homeConCont h2, .homeConCont h2, .homeConCont h3{
    margin-left: 15rem;
    margin-right: 15rem;
}

.homeConCont label, .homeConCont input[type="text"], .homeConCont input[type="submit"], .homeConCont input[type="email"], .homeConCont textarea{
    width:50%;
}


/*1200p RESOLUTION -------------------------*/
@media (max-width:85em){
    .nav-hof10{
        width:1%;
    }
    
    .nav-1of10{
        width:13%;
    }
    .nav-1hof10{
        width:19%;
    }
    
    .body-hof10.spacer{
        visibility: hidden;
        width:0%;
    }
    
    .product-1of3{
        float: left;
        display: wrap;
        flex-direction: row-reverse;
        max-width: 49%;   
        margin-left:0.5%;
        margin-right:0.5%;
    }
    
    .body-1hof10{
        width: 20%;
    
    }

    .hl-filter{
        width: 20%;
    }   

    
    .cart{
        border-top: #aaaaaa 2px solid;
        border-bottom: #aaaaaa 2px solid;
        position:absolute;
        left:60%;
        /*z-index: 10000;*/
        width:40%;
        padding-bottom:5em;
    }

    .cart .button-button{
        width:100%;
    }

    .body-6of10{
        width: 80%;
    }

    .homeConCont p, .homeConCont h1, .homeConCont h2, .homeConCont h3{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

/*900p RESOLUTION -------------------------*/
@media (max-width:58em){   

    .navLogo h1{
        visibility: hidden;
    }

    .nav-1hof10.navLogo{
        width:10%;
    }

    .nav-1hof10{
        width:25%;
    }

    .nav-6of10{
        width:64%;
    }

    .body-1hof10 .spacer{
        visibility: hidden;
        width:0%;
    }


    .hl-filter{
        width:30%;
    }
    .body-1hof10{
        width: 20%;
    }  

    .body-6of10{
        width:80%;
    }

    .body-6of10 .product-con{
        width:70%;
    }

    .homeConCont label, .homeConCont input[type="text"],  .homeConCont input[type="submit"], .homeConCont input[type="email"], .homeConCont textarea{
        width:80%;
    }
    .cart{
        /*z-index: 10000;*/
        left:0;
        width:100%;
        padding-bottom:5em;
    }

    .cart .button-button{
        width:inherit;
    }

    .product-1of3{
        max-width: 99%;   
        margin-left:0.5%;
        margin-right:0.5%;
    }

}

/*736p RESOLUTION -------------------------*/
@media (max-width:40em){    
    .product-1of3{
        min-width:95%;
        margin-left:0.5%;
        margin-right:0.5%; 
    }

    .body-6of10{
        width:95%;
        top:-8em;
    }

    .homeConCont label, .homeConCont input[type="text"], .homeConCont input[type="submit"], .homeConCont input[type="email"], .homeConCont textarea{
        width:90%;
    }

    .hl-filter{
        width:100%;
    }
    
    .product-con{
        width:100%;
    }

    .content{
        flex-wrap: wrap;
    }


}



@media (max-width:30em){    
    .homeConCont.body-6of10{
        width:95%;
        top:4em;
    }

    .homeConCont p, .homeConCont h1, .homeConCont h2, .homeConCont h3{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
}