*, *:after, *:before{
    box-sizing: border-box;
}

[class^='nav-'] {
	float: left;
	text-align: center;
}

.nav-1of10{
    width:10%;
}

/*TEST PP BRANCH*/

.nav-hof10{
    width:5%;
}

.nav-6of10{
    width:60%;
}

.nav-1hof10{
    width:15%;
}

.body-1hof10{
    width:15%;
}

.body-hof10{
    width:5%;
}

.body-6of10{
    width:60%;
}

.cart, .hl-filter{
    width: 15%;
}

.product-1of3{
    position: relative;
    width: 33%;   
    margin-right:0.5em;
}

.homeConCont p, .homeConCont h2, .homeConCont h3{
    margin-left: 15rem;
    margin-right: 15rem;
}

.homeConCont label, .homeConCont input[type="text"], .homeConCont textarea{
    width:50%;
}


/*1200p RESOLUTION -------------------------*/
@media (max-width:85em){
    .nav-hof10{
        width:1%;
    }
    
    .nav-1of10{
        width:13%;
    }
    .nav-1hof10{
        width:19%;
    }
    
    .body-hof10.spacer{
        visibility: hidden;
        width:0%;
    }
    
    .product-1of3{
        float: left;
        display: wrap;
        flex-direction: row-reverse;
        width:50%;  
        margin-right:0.5em;  
    }
    
    .body-1hof10{
        width: 20%;
    }

    .cart, .hl-filter{
        width: 20%;
    }    

    .body-6of10{
        width: 60%;
    }

    .homeConCont p, .homeConCont h2, .homeConCont h3{
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

/*900p RESOLUTION -------------------------*/
@media (max-width:58em){   

    .navLogo h1{
        visibility: hidden;
    }

    .body-1hof10 .spacer{
        visibility: hidden;
        width:0%;
    }

    .cart{
        visibility: hidden;
        width: 0%;
    }

    .hl-filter{
        width:30%;
    }
    .body-1hof10{
        width: 20%;
    }  

    .body-6of10{
        width:80%;
    }

    .body-6of10 .product-con{
        width:70%;
    }

    .homeConCont label, .homeConCont input[type="text"], .homeConCont textarea{
        width:80%;
    }

}

/*736p RESOLUTION -------------------------*/
@media (max-width:40em){    
    .product-1of3{
        margin-right:0.5em;
        width:100%;    
    }

    .body-6of10{
        width:95%;
        top:-8em;
    }

    .homeConCont label, .homeConCont input[type="text"], .homeConCont textarea{
        width:90%;
    }

    .hl-filter{
        width:50%;
    }

    .body-6of10 .product-con{
        width:50%;
    }
}



@media (max-width:30em){    
    .homeConCont.body-6of10{
        width:95%;
        top:4em;
    }

    .homeConCont p, .homeConCont h2, .homeConCont h3{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
}