*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', arial, verdana, sans-serif;  
	font-size: 14px; 
	color: black; 
	position: relative;
	min-width:320px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

h1{
	font-weight: 500;
	font-size: 1.5em;
}

h2{
	font-size: 1.2em;
	text-decoration: none;
	font-weight:500;
}
h2 a{
	color: black;
}
h3{
	font-size: 1.2em;
	text-decoration: none;
	padding-left: 1em;
}

h4{
	font-size:1.1em;
}

h5{
	font-size: 1.3em;
	text-decoration: none;
	margin-left: 1em;
	margin-top:1em;
}

h6{
	font-size: 1em;
	text-decoration: none;
}

/*NAVIGATION ---------------------------------*/
nav{
    width:100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F89A40;    
}

.nav-6of10 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size:0.9em;
    letter-spacing: 0.2em;
}

.nav-6of10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-1of10{
    flex-grow: 1;
}
.navLogo{
    margin-top:1em;
    margin-bottom:1.25em;
}

.navLogo img{
    float: left;
    max-width:2.5em;
    height: auto;
    padding-right: 0.5em;
}

.navLogo h1{
    float: left;
    text-align: left;
    padding-top:0.15em;
    color:white;
    margin: 0;
    font-style: italic;
}

.nav-1of10 a{
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.nav-1of10 a:hover, .nav-1of10 a:active{
    opacity:1;
}

/*SUBNAV -------------------------------*/
.subNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.subNav-1of3{
    width:100%;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

a.subNav-1of3{
    flex-grow: 1;
    align-self: flex-start;
    height:100%;
}

.subNav-1of3:hover, .subNav1of3:active{
    opacity:1;
}


.subNav-1of3 a img{
    width:2em;
    height: auto;
}



/*SIDE FILTER BAR---------------------------------*/
ul{
    padding-left: 1.3em;
}

/*
ul li{
    list-style-type: none;
    margin: 1em;
} 
*/

ul li a{
     color: white;
     text-decoration: none;
}

#hl-filter h2{
    padding-left:1em;
    padding-top:1em;
    color:white;
}



/*CONTENT BOX ------------------------------*/
.content{
    position:absolute;
    top:4em;
    width:100%;
    height: 75em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*flex-direction: column;*/
    align-items: stretch;
    align-content: stretch;
    background-color: #f8f8f8;
}

.body-1hof10 {
    position:relative;
    /*background-color: #555555;*/
    overflow: auto;
    flex: 1;
}

.body-6of10{
}

/*FOOOOOOOOTERRRRRRR------------------------------------------*/

footer{
    position:fixed;
    bottom: 0;
    height:3em;
    width:100%;
    background-color: #222222;
}

footer p{
    color: white;
    text-align: center;
    font-weight: 300;
    margin-top:0.25em;
    margin-bottom: 0;
}

.content-1of3  {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0.2em 0.2em 0.1em lightgray;
    padding:1em;
    margin-bottom: 1em;;
    height:36rem;
    margin-left:0.5em;
    margin-top:0.5em;
}

.button-button{
    background-color: #506AB4;
    border: none;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 200;
    margin-top:0.5em;
}

.button-form{
    background-color: #506AB4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-weight: 200;
}

.button-form:hover, .button-form:visited , .button-button:hover, .button-button:visited{
    background-color: rgba(31,42,71, 0.6);
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;
}
