*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
    background-color:   #f8f8f8;;
}
body{
	font-family: 'Roboto', arial, verdana, sans-serif;  
	font-size: 14px; 
	color: black; 
	position: relative;
	min-width:420px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

h1{
	font-size: 1.5em;
	text-decoration: none;
	font-weight:500;
}

h2{
	font-size: 1.2em;
	text-decoration: none;
	font-weight:500;
}
h2 a{
	color: black;
}
h3{
	font-size: 1.2em;
	text-decoration: none;
}

h4{
	font-size:1.1em;
}

h5{
	font-size: 1.3em;
	text-decoration: none;
	margin-left: 1em;
	margin-top:1em;
}

h6{
	font-size: 1em;
	text-decoration: none;
}

/*NAVIGATION ---------------------------------*/
nav{
    width:100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color:#444444;
    /*background-color: #F89A40;*/
}

.nav-6of10 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size:0.9em;
    letter-spacing: 0.2em;
}

.nav-6of10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-1of10{
    flex-grow: 1;
}
.navLogo{
    margin-top:1em;
    margin-bottom:1.25em;
}

.navLogo img{
    float: left;
    max-width:2.5em;
    height: auto;
    padding-right: 0.5em;
}

.navLogo h1{
    float: left;
    text-align: left;
    padding-top:0.15em;
    color:white;
    margin: 0;
    font-style: italic;
}

.nav-1of10 a{
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.nav-1of10 a:hover, .nav-1of10 a:active{
    opacity:1;
}

/*SUBNAV -------------------------------*/
.subNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.subNav-1of3{
    width:100%;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

a.subNav-1of3{
    flex-grow: 1;
    align-self: flex-start;
    height:100%;
}

.subNav-1of3:hover, .subNav1of3:active{
    opacity:1;
}


.subNav-1of3 a img{
    width:2em;
    height: auto;
}



/*SIDE FILTER BAR---------------------------------*/
.hl-filter ul{
    padding-left: 0.3em;
}


/*ul li{
    list-style-type: none;
    margin-left: 0em;
} */


ul li a{
     color: white;
     text-decoration: none;
}

.hl-filter h2{
    padding-left:1em;
    padding-top:1em;
    color:white;
}

.hl-filter, .cart, .body-hof10{
    background-color: gray;
}

.hl-filter select{
    background-color: darkgray;
    font-size: 1.2em;
    font-weight: 200;
    color: white;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    width:100%;
}

.hl-filter form{
    margin-top: 0.75em;
    margin-bottom:0.25em;
}

.hl-filter ul{
    margin: 0;
}

.hl-filter form label{
    padding-left: 0.5em;
    color: white;
}

.hl-filter ul li{
    list-style: none;
}

.hl-filter ul li p{
    display: inline;
    color: white;
    font-size: 0.8rem;
}



/*CONTENT BOX ------------------------------*/
.content{
    margin-top:4em;
    width:100%;
    min-height:1200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    align-content: stretch;

    background-color: #f8f8f8;
}

.body-1hof10 {
    position:relative;
    /*background-color: #555555;*/
    overflow: auto;
    flex: 1;
}



/*FOOOOOOOOTERRRRRRR------------------------------------------*/

footer{
    position:relative;
    bottom: 0;
    padding-top:1em;
    height:5em;
    width:100%;
    background-color: #222222;
}

footer p{
    color: white;
    text-align: center;
    font-weight: 300;
    margin-top:0.25em;
    margin-bottom: 0;
}

.product-con{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: stretch;
    align-content: stretch;

    overflow: auto;
}

.product-1of3  {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0.05em 0.05em 0.025em lightgray;
    padding:1em;
    margin-bottom: 0.25em;;
    margin-left:0.25em;
    margin-top:0.5em;
    min-width:20em;
    min-height: 20em;
    max-width:28em;


    justify-content: flex-start;
    flex: 1 0 auto;
}

.button-button{
    background-color: #506AB4;
    border: none;
    padding: 0.5em 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 200;
    margin-top:0.5em;
}

.button-form{
    background-color: #506AB4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-weight: 200;
}

.button-form:hover , .button-button:hover{
    background-color: rgba(31,42,71, 0.6);
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;
}

.button-button:visited{
    background-color: rgba(31,42,71, 0.6);
}

/*FORMS!!!! ----------------------------------------*/
.form_text input{
    font-size: 1.5em;
	font-weight: 200;
	padding: 0.25em 0.5em;
	margin-bottom: 0.5em;
}

form label{
    font-size: 1em;
	font-weight: 600;
	padding: 0 0 0 0;
	margin: 0;
	color: #506AB4;   
}

/*PRODUCT ITEM LISTING------------------*/
.pi-img img{
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    height: auto;
}

.pi-desc, .pi-img, .pi-name, .pi-model, .pi-price{
    max-width: 25em;
    margin-left:0.5em;
    margin-right:0.5em;
}

.pi-price{
    margin-bottom:4em;
}

.pi-btns{
    position: absolute;
    bottom:0.5em;
    width:92.5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pi-btns a{
    margin-right:0.2em;
    flex-grow: 1;
}

.pi-name h3{
    padding: 0;
}

/*product listing page=================================*/
.product-detail{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: wrap;
}

.detail-1of3{
    margin:0.5em;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0.2em 0.2em 0.1em lightgray;
    padding:1em;
    flex:1 1 auto;
}

.detail-2of3{
    flex:2 1 auto;
    margin:0.5em;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0.2em 0.2em 0.1em lightgray;
    padding:1em;
}

.detail-2of3 img{
    width:100%;
    max-width:40em;
    height:auto;
}

.detail-btns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    width:100%;
    flex-wrap: wrap;
}

.detail-btns a{
    margin-right:0.2em;
    flex-grow: 1;
}




